.container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details{
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    list-style: none;
    button{
        margin-top: 15px;
    }
}